.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 8px;
}

.footer-logo {
  height: 120px;
  width: auto;
  object-fit: contain;
}

.footer-copyright {
  font-size: 14px;
  font-weight: 600;
}